[submodule "monty"]
	path = monty
	url = https://github.com/thrownblown/monty
[submodule "0x18-stacks-queues_lifo_fifo/monty"]
	path = 0x18-stacks-queues_lifo_fifo/monty
	url = https://github.com/thrownblown/monty
